name: Release action

on:
  pull_request:
    branches:
      - Test
  push:
    branches:
      - Test

permissions:
  contents: write

jobs:
  release-solution:
    runs-on: ubuntu-latest

    outputs:
      solution: ${{ steps.set-solution.outputs.solution }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Determine solution from PR title or commit message
        id: set-solution
        run: |
          REF_TEXT="${{ github.event.pull_request.title }}"
          if [[ -z "$REF_TEXT" ]]; then
            REF_TEXT=$(git log -1 --pretty=%B)
          fi

          REF_TEXT_LOWER=$(echo "$REF_TEXT" | tr '[:upper:]' '[:lower:]')

          if [[ "$REF_TEXT_LOWER" == *"solution:mccainsampleappdev"* ]]; then
            echo "solution=mccain-sample-app-dev" >> $GITHUB_OUTPUT
          elif [[ "$REF_TEXT_LOWER" == *"solution:crde66f"* ]]; then
            echo "solution=Crde66f" >> $GITHUB_OUTPUT
          else
            echo "No valid solution specified in PR title or commit message."
            exit 1
          fi

  call-release-workflow:
    needs: release-solution
    uses: ./.github/workflows/release-solution-to-test-with-inputs.yml
    with:
      solution_name: ${{ needs.release-solution.outputs.solution }}
      BUILD_ENVIRONMENT_URL: 'https://org6e82c998.crm.dynamics.com'
      TEST_ENVIRONMENT_URL: 'https://org5cd2929c.crm.dynamics.com'
      CLIENT_ID: '54b35cb3-ec7d-4f5e-be38-67ed9cf311f3'
      TENANT_ID: 'fd41ee0d-0d97-4102-9a50-c7c3c5470454'
    secrets:
      POWERAPPS: ${{ secrets.POWERAPPS }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
